<% include ./partials/header %>

    <div id="chat">
	<ul id="messages"></ul>
    </div>
    <div>
    <span id="time"></span>
    </div>
	<form action="">
		<input id="m" autocomplete="off"/>
		<button id="send">Send</button>
		<button id="find_match">Find match</button>			
	</form>
		
	<script src="/socket.io/socket.io.js"></script>
	<script src="/scripts/linkifyjs/dist/linkify.min.js"></script>
	<script src="/scripts/linkifyjs/dist/linkify-jquery.min.js"></script>
	<script>

		function startTimer(duration, display, redirect) {
			
			var timer = duration, minutes, seconds;
			var intervalId = setInterval(function() {
				minutes = parseInt(timer / 60, 10);
				seconds = parseInt(timer % 60, 10);
				
				minutes = minutes < 10 ? "0" + minutes : minutes;
				seconds = seconds < 10 ? "0" + seconds : seconds;	
			
				display.text("Match starting: "+ minutes + ":" + seconds);
			
				if (--timer < 0) {
					display.text("");
					clearInterval(intervalId);
					window.location.replace(redirect);
				}
			}, 1000);
			
		}	
	
		var socket = io();

		$('#send').click(function() {
						
			if ($('#m').val() != '' && $('#m').val() != null) {
			    var username    = '<%= sessionUser.username %>';
			    var content     = $('#m').val(); 
			
			    // "Injecting" the username like this with 
			    // a template variable makes me feel a bit dirty...
				socket.emit('chat message', { username: username, content: content });
				$('#m').val('');
				
			}
			
			// Avoid refreshing the page
			return false;
			
		});
		
		$('#find_match').click(function() {
		
			if ($('#find_match').text() == 'Find match') {
				console.log('findmatch pressed');
				socket.emit('queue');
				socket.emit('chat message', '** Player queued for a game **');
				$('#find_match').text('Cancel');
			} else {
				socket.emit('dequeue');
				socket.emit('chat message', '** Player left queue **');
				$('#find_match').text('Find match');				
			}
			
			return false;
			
		});		
				
		socket.on('chat message', function(msg) {
		
			$('#messages').append($('<li>').text(msg.username +': '+ msg.content));
			//$('#messages').linkify();
			
			// Keep window scrolled to the bottom
			// to see latest chat
			var $cont = $('#chat');
            $cont[0].scrollTop = $cont[0].scrollHeight;
            
		});
		
		socket.on('redirect', function(redirect) {

			// Countdown function to give user a few seconds 
			// before the match starts (read: ezQuake launches)
			jQuery(function ($) {
				var fiveSeconds = 5;
				display = $('#time');
				
				startTimer(fiveSeconds, display, redirect);
			});
			
		});
		
	</script>

<% include ./partials/footer %>

